.header {
	height: 100px;
	background-color: rgb(73, 149, 73);
	display: flex;
}

.nav {
	flex: 1;
	display: flex;
}

.ul {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 100px;
	flex-wrap: wrap;
}

.li {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menuLink {
	padding: 5px 10px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.menuLink:hover {
	background-color: rgb(53, 114, 53);
}
